.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.3); 
  padding:30px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left;

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(13px) brightness(105%);
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

.footer {
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(13px) brightness(105%); 
  text-align: center;
  font-size: 15px;
  border-radius: 9px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.content-container {
  max-height: 80vh; /* Adjust the value as needed to control the maximum height of the scrollable area. */
  overflow-y: auto;
}

/* Loading spinner */
.loading-spinner {
  height: 4rem;
  width: 4rem;
  border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 767px) {
  .container {
      max-width: 100%; 
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .container {
      max-width: 80%; 
  }
}


@media (min-width: 992px) {
  .container {
      max-width: 550px; 
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
